<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geek51.domain.FileUpload">
  <resultMap id="BaseResultMap" type="cn.geek51.domain.FileUpload">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="filename" jdbcType="VARCHAR" property="filename"/>
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="username" jdbcType="VARCHAR" property="username"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, description, username,filename, path, created_time
  </sql>
  <select id="selectOneByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fileupload
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByParams" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> FROM fileupload
    <where>
      <trim suffixOverrides=",">
        <if test="id != null">
          id=#{id,jdbcType=INTEGER},
        </if>
        <if test="title != null">
          title=#{title,jdbcType=VARCHAR},
        </if>
        <if test="description != null">
          description=#{description,jdbcType=VARCHAR},
        </if>
        <if test="username != null">
          username=#{username,jdbcType=VARCHAR},
        </if>
        <if test="path != null">
          path=#{path,jdbcType=VARCHAR},
        </if>
        <if test="filename != null">
          filename=#{filename,jdbcType=VARCHAR},
        </if>
        <if test="createdTime != null">
          createdTime=#{createdTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </where>
    <if test="start != null and count != null">
      LIMIT #{start}, #{count}
    </if>
  </select>

  <delete id="deleteOneByParams">
    delete from fileupload
    <where>
      <trim suffixOverrides=",">
        <if test="id != null">
          id=#{id,jdbcType=INTEGER},
        </if>
        <if test="title != null">
          title=#{title,jdbcType=VARCHAR},
        </if>
        <if test="description != null">
          description=#{description,jdbcType=VARCHAR},
        </if>
        <if test="username != null">
          username=#{username,jdbcType=VARCHAR},
        </if>
        <if test="path != null">
          path=#{path,jdbcType=VARCHAR},
        </if>
        <if test="filename != null">
          filename=#{filename,jdbcType=VARCHAR},
        </if>
        <if test="createdTime != null">
          createdTime=#{createdTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </where>
  </delete>

  <delete id="deleteOneByPrimaryKey" parameterType="java.lang.Integer">
    delete from fileupload
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.geek51.domain.FileUpload">
    insert into fileupload (id, title, description,
      emp_id, path, created_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{username,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},#{filename, jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.geek51.domain.FileUpload">
    insert into fileupload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.geek51.domain.Department">
    update fileupload
    <set>
      <if test="title != null">
        title=#{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description=#{description,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        emp_id = #{username,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path=#{path,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename=#{filename,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime=#{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.geek51.domain.Department">
    update fileupload
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      filename = #{filename, jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM fileupload;
  </select>
</mapper>