<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geek51.domain.Post">
  <resultMap id="BaseResultMap" type="cn.geek51.domain.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="username" jdbcType="VARCHAR" property="username"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, content, username, created_time
  </sql>
  <select id="selectOneByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT <include refid="Base_Column_List" /> FROM post WHERE id=#{id}
  </select>

  <select id="selectAllByParams" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> FROM post
    <where>
      <trim suffixOverrides=",">
        <if test="id != null">
          id=#{id},
        </if>
        <if test="title != null">
          title=#{title},
        </if>
        <if test="username != null">
          username=#{username},
        </if>
        <if test="createdTime != null">
          created_time=#{createdTime},
        </if>
        <if test="content != null">
          content=#{content},
        </if>
      </trim>
    </where>
    <if test="start != null and count != null">
      LIMIT #{start}, #{count}
    </if>
  </select>

  <delete id="deleteOneByParams">
    delete from post
    <where>
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
          id=#{id},
        </if>
        <if test="title != null">
          title=#{title},
        </if>
        <if test="username != null">
          username=#{username},
        </if>
        <if test="createdTime != null">
          created_time=#{created_time},
        </if>
        <if test="content != null">
          content=#{content},
        </if>
      </trim>
    </where>
  </delete>
  <insert id="insert" parameterType="cn.geek51.domain.Post">
    insert into post (id, title, username,
      created_time, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
      #{createdTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.geek51.domain.Post">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.geek51.domain.Post">
    update post
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.geek51.domain.Post">
    update post
    set title = #{title,jdbcType=VARCHAR},
      content = #{content, jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM post;
  </select>
</mapper>